<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The creators of this application are Emelie Dümpelmann and Rabea Schulze.
</p>

<p><strong>Emelie Dümpelmann</strong></p>

<p><strong>Rabea Schulze</strong></p>
