<% provide(:title, 'Zuordnung') %>
    <% if logged_in? %>


<h1>Das Zuordnungsproblem von Studenten zu Instituten</h1>
<p>
  Auf dieser Seite startet die Zuordnung!    <br>     <br>
  <%= link_to "Hier geht es zur Verwaltung der Studenten!", students_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Institute!", institutes_path %><br>
  <%= link_to "Hier geht es zur Verwaltung des GAMS-Pfades!", '#gams_path' %><br>
</p>

<br>

<% end %>
