<%= form_with(model: institute, local: true) do |form| %>
  <% if institute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institute.errors.count, "error") %> prohibited this institute from being saved:</h2>

      <ul>
      <% institute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :institute_name %>
  </div>

  <div class="field">
    <%= form.label :Anzahl_Professoren %>
    <%= form.number_field :Anzahl_Professoren, id: :institute_Anzahl_Professoren %>
  </div>

  <div class="field">
    <%= form.label :Anzahl_Mitarbeiter %>
    <%= form.number_field :Anzahl_Mitarbeiter, id: :institute_Anzahl_Mitarbeiter %>
  </div>

  <div class="field">
    <%= form.label :Betreuungsüberschusskapazität %>
    <%= form.text_field :Betreuungsüberschusskapazität, id: :institute_Betreuungsüberschusskapazität %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
