<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @institute, :name %>
</p>

<p>
  <strong>Anzahl Professoren:</strong>
  <%= @institute.Anzahl_Professoren %>
</p>

<p>
  <strong>Anzahl Mitarbeiter:</strong>
  <%= @institute.Anzahl_Mitarbeiter %>
</p>

<p>
  <strong>Betreuungsüberschusskapazität:</strong>
  <%= @institute.Betreuungsüberschusskapazität %>
</p>

<%= link_to 'Edit', edit_institute_path(@institute) %> |
<%= link_to 'Back', institutes_path, "data-turbolinks": "false" %>
