<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :site_name %>
  </div>

  <div class="field">
    <%= form.label :codename %>
    <%= form.text_field :codename, id: :site_codename %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
